<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/add.css">
    <title>Edit book details</title>
</head>
<body>
     <h1>Edit a book</h1>

  <form action="/edit" method="post" class="input">
    <h3>ISBN: </h3>
    <input type="text" name="isbn" required>
    <h3>Update Book name: </h3>
    <input type="text" name="updatetitle">
    <h3>Update Rating: </h3>
    <input type="number" name="updaterate">
    <h3>Update Date: </h3>
    <input type="datetime" name="updatedate">
    <h3>Update Note: </h3>
    <input type="text" name="updatenote"><br>
    <button type="submit" style="margin-top: 10px;">Edit</button>
    <button type="button" onclick="clearForm()">Clear</button>
    <a href="/" ><button type="button">Back</button></a>
    </form>

    <script>
        function clearForm() {
            document.querySelector(".input").reset();
        }
    </script>
</body>
</html>